.text {
    padding: 0 10px 0 3px;
    font-family: 'Ubuntu Condensed', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: #f7fdf5;
}

.blue {
    background: dimgrey;
}

.blue-text {
    color: #67c8f5;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.green {
    background: lightgreen;
}

.green-text {
    color: darkslateblue;
}