.wrapper:before {
    background: url('https://cdn.lifedaily.com/assets/7ada33/dist/images/error/404.svg') no-repeat 50%;
    width: 535px;
    height: 293px;
    content: "";
    display: block;
    margin: 0 auto 75px;
    padding: 20px 0 0 0;
}

.errorText {
    font-size: 28px;
    color: #30363c;
    padding: 0 38%;
}

.back {
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .05em;
    text-align: center;
    margin: 40em;
}